body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffdfd;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #111;
}

@media(max-width:989px){

    .logo{
        margin-bottom: 10px;
    }

    header{
        flex-direction: column;
    }

    nav{
        flex-direction: column;
    }
}

@media  (max-width:789px) {
    .nav-contenedor{
        flex-direction: column;
    }

    .producto{
        flex-direction: column;
    }

    .imagen{
        order: 1;
    }

    .info{
        order: 2;
    }
}

@media (max-width: 580px) {

    .nav-contenedor {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        display: block;
        margin: 5px 0;
        text-align: center;
    }

    .buscador {
        width: 100%; 
        margin: 10px auto;
    }

    header {
        padding: 10px;
    }
}

.logo {
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
}

.logo img{
    width: 50px;
}

.nav-contenedor {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 10px;
}
.buscador {
    background: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.buscador input {
    border: none;
    outline: none;
    padding: 5px;
}
 
.barra {
    text-align: center;
    background-color: #222;
    padding: 5px 0;
    font-size: 14px;
}
.barra a {
    color: white;
    text-decoration: none;
}
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
 
h1 {
    color: rgb(119, 0, 0);
}
 
  
.producto {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    max-width: 800px;
    margin: auto;
    flex-direction: column;
}
  
.imagen img {
    width: 250px;
    border-radius: 10px;
}
  
.info {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}
  
p {
    margin: 5px 0;
}
  
.tallas {
    display: flex;
    gap: 10px;
}
  
.talla {
    background-color: #f8d7da;
    color: black;
    padding: 8px 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}
  
.talla:hover {
    background-color: #f5bfc3;
}
  
.boton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.boton:hover {
    background-color: #333;
}
  
.precio {
    font-size: 24px;
    font-weight: bold;
}
  
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 14px;
}